<%= form_for @staff do |f| %>
    <% if @staff.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@staff.errors.count, "error") %> prohibited
            this article from being saved:</h2>
          <ul>
            <% @staff.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :staff_id %><br>
      <%= f.text_field :staff_id %>
    </p>

    <p>
      <%= f.label :job_title %><br>
      <%= f.text_field :job_title %>
    </p>

    <p>
      <%= f.label :works_in_building %><br>
      <%= f.text_field :works_in_building %>
    </p>

    <p>
      <%= f.label :works_in_apt %><br>
      <%= f.text_field :works_in_apt %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
