<p id="Staff_profile"><%= notice %></p>

<p>
  <strong>Student ID:</strong>
  <%= @person.pid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @person.mname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>P_type:</strong>
  <%= @person.p_type %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @person.nationality %>
</p>

<p>
  <strong>Street:</strong>
  <%= @person.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @person.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @person.DOB %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Second phone number:</strong>
  <%= @person.alt_phone %>
</p>

<p>
  <strong>Job Title:</strong>
  <%= @people.staff.job_title %>
</p>

<p>
  <strong>Works in:</strong>
  <%= @people.staff.works_in_building %>
</p>

<p>
  <strong>Works in Apt:</strong>
  <%= @people.staff.works_in_apt %>
</p>

<%= link_to 'Back', staffs_path %>