<p id="Student_profile"><%= notice %></p>

<p>
  <strong>Student ID:</strong>
  <%= @staff.sid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @staff.person.fname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @staff.person.mname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @staff.person.lname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @staff.person.gender %>
</p>

<p>
  <strong>P_type:</strong>
  <%= @staff.person.p_type %>
</p>

<p>
  <strong>P_type:</strong>
  <%= @staff.person.p_type %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @staff.person.nationality %>
</p>

<p>
  <strong>Street:</strong>
  <%= @staff.person.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @staff.person.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @staff.person.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @staff.person.country %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @staff.person.DOB %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @staff.person.phone %>
</p>

<p>
  <strong>Second phone number:</strong>
  <%= @staff.person.alt_phone %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @staff.person.nationality %>
</p>

<p>
  <strong>Works in:</strong>
  <%= @staff.works_in_building %>
</p>

<p>
  <strong>Works in Apt:</strong>
  <%= @staff.works_in_apt %>
</p>

<p>
  <strong>Job Title:</strong>
  <%= @staff.job_title %>
</p>


<%= link_to 'Back', staffs_path %>