<%= form_for(@parking_request) do |f| %>
  <% if @parking_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_request.errors.count, "error") %> prohibited this parking_request from being saved:</h2>

      <ul>
      <% @parking_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :vehicle_type %>
      <%= f.select :vehicle_type, options_for_select({"small car" => 1, "large car" => 2, "Bike" => 3}) %>
    </p>

    <% if session[:user] != "visitor" %>
    <p>
      <%= f.label :pref_nearby, "Prefer nearby" %>
      <%= f.check_box :pref_nearby %>
    </p>
    <% end %>

    <p>
      <%= f.label :is_disabled, "Disabeled" %>
      <%= f.check_box :is_disabled %>
    </p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
