<p id="notice"><%= notice %></p>

<p>
  <strong>Student ID:</strong>
  <%= @person.pid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @person.mname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>Place No.:</strong>
  <%= @signedLease.place_no %>
</p>

<p>
  <strong>Apt No.:</strong>
  <%= @signedLease.apt_no %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @signedLease.parking_spot %>
</p>

<p>
  <strong>Parking Permit ID.:</strong>
  <%= @signedLease.permit_id %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @signedLease.rent %>
</p>

<p>
  <strong>Parking fee:</strong>
  <%= @signedLease.parking_fee %>
</p>

<p>
  <strong>Invoice No.</strong>
  <%= @invoice.inv_no %>
</p>

<p>
  <strong>Due date.</strong>
  <%= @invoice.duedate %>
</p>

<p>
  <strong>Amount Due</strong>
  <%= @invoice.payment_due %>
</p>

<p>
  <strong>Paid date</strong>
  <%= @invoice.paid_date %>
</p>

<p>
  <strong>Paid Y/N?</strong>
  <%= @invoice.paid %>
</p>

<p>
  <strong>Payment method</strong>
  <%= @invoice.pay_method %>
</p>

<p>
  <strong>Billing period starts on:</strong>
  <%= @invoice.bill_start_date %>
</p>

<p>
  <strong>Billing period ends on:</strong>
  <%= @invoice.bill_end_date %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
