<%= form_for(@maintenance_request) do |f| %>
  <% if @maintenance_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintenance_request.errors.count, "error") %> prohibited this maintenance_request from being saved:</h2>

      <ul>
      <% @maintenance_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :created_date %><br>
      <%= f.text_field :created_date, :readonly => true %>
    </p>

    <p>
      <%= f.label :severity %><br>
      <%= f.text_field :severity %>
    </p>

    <p>
      <%= f.label :unit_no %><br>
      <%= f.text_field :unit_no, :readonly => true %>
    </p>

    <p>
      <%= f.label :place_no %><br>
      <%= f.text_field :place_no, :readonly => true %>
    </p>

    <p>
      <%= f.label :apt_no %><br>
      <%= f.text_field :apt_no, :readonly => true %>
    </p>

    <% if session[:user] == 'staff' %>
    <p>
      <%= f.label :app_status %><br>
      <%= f.text_field :app_status %>
    </p>
    <% end %>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
