<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket No.:</strong>
  <%= @maintenance_request.ticket_no %>
</p>

<p>
  <strong>Unit No.:</strong>
  <%= @maintenance_request.unit_no %>
</p>

<p>
  <strong>Place No.:</strong>
  <%= @maintenance_request.place_no %>
</p>

<p>
  <strong>Apt No.:</strong>
  <%= @maintenance_request.apt_no %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @maintenance_request.severity %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @maintenance_request.created_date %>
</p>

<p>
  <strong>Status.:</strong>
  <%= @maintenance_request.app_status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @maintenance_request.comments %>
</p>


<% if session[:user] == 'student' %>
    <%= link_to 'Edit', edit_maintenance_request_path(@maintenance_request) %> |
    <%= link_to 'Cancel', @maintenance_request, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', menu_student_url %>
<% elsif session[:user] == 'staff' %>
    <%= link_to 'Complete maintenance request', maintenance_request_path(maintenance_request: {ticket_no: @ticket_no}, type: "complete"), method: :put, data: {confirm: 'Proceed to complete the maintenance request?'} %> |
    <%= link_to 'Deny the paring request', edit_maintenance_request_url(@maintenance_request), data: {confirm: 'Proceed to deny this request?'} %> |
    <%= link_to 'Back', menu_staff_url %>
<% end %>