<p id="Student_profile"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @student.person.fname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @student.person.mname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.person.lname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.person.gender %>
</p>

<p>
  <strong>P_type:</strong>
  <%= @student.person.p_type %>
</p>

<p>
  <strong>P_type:</strong>
  <%= @student.person.p_type %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @student.person.nationality %>
</p>

<p>
  <strong>Street:</strong>
  <%= @student.person.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.person.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.person.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @student.person.country %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @student.person.DOB %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.person.phone %>
</p>

<p>
  <strong>Second phone number:</strong>
  <%= @student.person.alt_phone %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @student.person.nationality %>
</p>

<p>
  <strong>Student Type:</strong>
  <%= @student.s_type %>
</p>

<p>
  <strong>Student Status:</strong>
  <%= @student.s_status %>
</p>

<p>
  <strong>Smoke Y/N?:</strong>
  <%= @student.smoke %>
</p>

<p>
  <strong>Special Needs:</strong>
  <%= @student.spec_sneeds %>
</p>

<p>
  <strong>Category:</strong>
  <%= @student.category %>
</p>

<p>
  <strong>Contact Person First Name:</strong>
  <%= @student.kin_fname %>
</p>

<p>
  <strong>Contact Person Middle Name:</strong>
  <%= @student.kin_mname %>
</p>

<p>
  <strong>Contact Person Phone Number:</strong>
  <%= @student.kin_phone %>
</p>

<p>
  <strong>Contact Person Last Name:</strong>
  <%= @student.kin_lname %>
</p>

<p>
  <strong>Contact Person Street:</strong>
  <%= @student.kin_street %>
</p>

<p>
  <strong>Contact Person City:</strong>
  <%= @student.kin_city %>
</p>

<p>
  <strong>Contact Person Country:</strong>
  <%= @student.kin_country %>
</p>

<%= link_to 'Back', students_path %>