<p id="Student_profile"><%= notice %></p>

<p>
  <strong>Student ID:</strong>
  <%= @person.pid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @person.mname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>P_type:</strong>
  <%= @person.p_type %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @person.nationality %>
</p>

<p>
  <strong>Street:</strong>
  <%= @person.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @person.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @person.DOB %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Second phone number:</strong>
  <%= @person.alt_phone %>
</p>

<p>
  <strong>Student Type:</strong>
  <%= @person.student.s_type %>
</p>

<p>
  <strong>Student Status:</strong>
  <%= @person.student.s_status %>
</p>

<p>
  <strong>Smoke Y/N?:</strong>
  <%= @person.student.smoke %>
</p>

<p>
  <strong>Special Needs:</strong>
  <%= @person.student.spec_sneeds %>
</p>

<p>
  <strong>Category:</strong>
  <%= @person.student.category %>
</p>

<p>
  <strong>Contact Person First Name:</strong>
  <%= @person.student.kin_fname %>
</p>

<p>
  <strong>Contact Person Middle Name:</strong>
  <%= @person.student.kin_middle_name %>
</p>

<p>
  <strong>Contact Person Phone Number:</strong>
  <%= @person.student.kin_phone %>
</p>

<p>
  <strong>Contact Person Last Name:</strong>
  <%= @person.student.kin_lname %>
</p>

<p>
  <strong>Contact Person Street:</strong>
  <%= @person.student.kin_street %>
</p>

<p>
  <strong>Contact Person City:</strong>
  <%= @person.student.kin_city %>
</p>

<p>
  <strong>Contact Person Country:</strong>
  <%= @person.student.kin_country %>
</p>

<p>
  <strong>Add comments:</strong>
  <%= @person.student.add_comment %>
</p>

<%= link_to 'Back', students_path %>