<p id="notice"><%= notice %></p>

<p>
  <strong>Student ID:</strong>
  <%= @person.pid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @person.mname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>Lease No.:</strong>
  <%= @signed_lease.lease_no %>
</p>

<p>
  <strong>Unit No.:</strong>
  <%= @signed_lease.unit_no %>
</p>

<p>
  <strong>Place No.:</strong>
  <%= @signed_lease.place_no %>
</p>

<p>
  <strong>Apt No.:</strong>
  <%= @signed_lease.apt_no %>
</p>

<p>
  <strong>Ticket no.:</strong>
  <%= @termination_request.t_req_no %>
</p>

<p>
  <strong>Inspection Date:</strong>
  <%= @termination_request.insp_date %>
</p>

<p>
  <strong>Termination Date:</strong>
  <%= @termination_request.termination_date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @termination_request.reason %>
</p>

<p>
  <strong>status:</strong>
  <%= @termination_request.app_status %>
</p>


<% if session[:user] == 'student' %>
    <%= link_to 'Edit', edit_termination_request_path(@termination_request) %> |
    <%= link_to 'Cancel', @termination_request, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', menu_student_url %>
<% elsif session[:user] == 'staff' %>
    <%= link_to 'Terminate the lease', termination_request_path(termination_request: {ticket_no: @ticket_no}, type: "terminate"), method: :put, data: {confirm: 'Proceed to complete the maintenance request?'} %> |
    <%= link_to 'Deny the paring request', edit_termination_request_url(@termination_request), data: {confirm: 'Proceed to deny this request?'} %> |
    <%= link_to 'Back', menu_staff_url %>
<% end %>