<%= form_for @signed_lease, :url => signed_leases_path(:req_no => @request_id,:type => @type) do |f| %>
  <% if @signed_lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signed_lease.errors.count, "error") %> prohibited this signed_lease from being saved:</h2>

      <ul>
      <% @signed_lease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :unit_no %><br>
      <%= f.text_field :unit_no %>
    </p>

    <p>
      <%= f.label :place_no %><br>
      <%= f.text_field :place_no %>
    </p>

    <p>
      <%= f.label :apt_no %><br>
      <%= f.text_field :apt_no %>
    </p>

    <p>
      <%= f.label :parking_spot %><br>
      <%= f.text_field :parking_spot %>
    </p>

    <p>
      <%= f.label :permit_id %><br>
      <%= f.text_field :permit_id %>
    </p>

    <p>
      <%= f.label :rent %><br>
      <%= f.text_field :rent %>
    </p>

    <p>
      <%= f.label :parking_fee %><br>
      <%= f.text_field :parking_fee %>
    </p>

    <p>
      <%= f.label :start_date %><br>
      <%= f.text_field :start_date %>
    </p>

    <p>
      <%= f.label :end_date %><br>
      <%= f.text_field :end_date %>
    </p>

    <p>
      <%= f.label :deposit %><br>
      <%= f.text_field :deposit %>
    </p>

    <p>
      <%= f.label :pay_option %><br>
      <%= f.text_field :pay_option %>
    </p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
