<p id="Lease_content"><%= notice %></p>


<p>
  <strong>Student ID:</strong>
  <%= @person.pid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @person.mname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>Lease No.:</strong>
  <%= @signed_lease.lease_no %>
</p>

<p>
  <strong>Place No.:</strong>
  <%= @signed_lease.place_no %>
</p>

<p>
  <strong>Apt No.:</strong>
  <%= @signed_lease.apt_no %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @signed_lease.parking_spot %>
</p>

<p>
  <strong>Parking Permit ID.:</strong>
  <%= @signed_lease.permit_id %>
</p>


<p>
  <strong>Rent:</strong>
  <%= @signed_lease.rent %>
</p>

<p>
  <strong>Parking fee:</strong>
  <%= @signed_lease.parking_fee %>
</p>

<p>
  <strong>Start semester:</strong>
  <%= @signed_lease.start_sem %>
</p>

<p>
  <strong>End semester:</strong>
  <%= @signed_lease.end_sem %>
</p>

<p>
  <strong>Apt No.:</strong>
  <%= @signed_lease.deposit %>
</p>

<p>
  <strong>Apt No.:</strong>
  <%= @signed_lease.pay_option %>
</p>


<% if session[:user] == 'staff' %>
<%= link_to 'Edit', edit_signed_lease_path(@signed_lease) %> |
<% end %>
<%= link_to 'Back', signed_leases_path %>
