<%= form_for(@housing_request) do |f| %>
  <% if @housing_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@housing_request.errors.count, "error") %> prohibited this housing_request from being saved:</h2>

      <ul>
      <% @housing_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.radio_button :parking, true %>
      <%= f.label :parking, "YES" %>
      <%= f.radio_button :parking, false %>
      <%= f.label :parking, "NO" %>
    </p>

    <p>
      <%= f.label :period %>
      <%= f.select :period, options_for_select([1,2,3,4,5,6]) %>
    </p>

    <p>
      <%= f.label :pay_option %>
      <%= f.select :pay_option, options_for_select({"monthly" => 1,"per semester" => 2}) %>
    </p>

    <p>
      <%= f.label :pref_nearby %><br>
      <%= f.select :pref_nearby, options_from_collection_for_select(@nearby_parking, "lot_no", "lot_no") %>
    </p>

    <p>
      <%= f.label :building_pref1 %><br>
      <%= f.select :building_pref_1, options_from_collection_for_select(@pref_housing, @select_item, @select_item) %>
    </p>

    <p>
      <%= f.label :building_pref2 %><br>
      <%= f.select :building_pref_2, options_from_collection_for_select(@pref_housing, @select_item, @select_item) %>
    </p>

    <p>
      <%= f.label :building_pref3 %><br>
      <%= f.select :building_pref_3, options_from_collection_for_select(@pref_housing, @select_item, @select_item) %>
    </p>

    <p>
      <%= f.label :movein_date %>
      <%= f.date_field :movein_date %>
    </p>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
