<h1>New housing_request</h1>

<p>
  <strong>Student ID:</strong>
  <%= @person.pid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>P_type:</strong>
  <%= @person.p_type %>
</p>

<%= render 'form' %>

<%= link_to 'Back', housing_requests_path %>
