<p id="housing_request"><%= notice %></p>

<p>
  <strong>Student ID:</strong>
  <%= @person.pid %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>S_type:</strong>
  <%= @student.s_type %>
</p>

<p>
  <strong>Payment option:</strong>
  <%= @housing_request.pay_option %>
</p>

<p>
  <strong>Need parking?</strong>
  <%= @housing_request.parking %>
</p>

<p>
  <strong>Parking preference:</strong>
  <%= @housing_request.pref_nearby %>
</p>

<p>
  <strong>Building & apartment preference 1:</strong>
  <%= @housing_request.building_pref_1 %>
</p>

<p>
  <strong>Building & apartment preference 2:</strong>
  <%= @housing_request.building_pref_2 %>
</p>

<p>
  <strong>Building & apartment preference 3:</strong>
  <%= @housing_request.building_pref_3 %>
</p>

<p>
  <strong>Movein date:</strong>
  <%= @housing_request.movein_date %>
</p>

<p>
  <strong>Application status:</strong>
  <%= @housing_request.app_status %>
</p>

<% if session[:user] == 'student' %>
 <%= link_to 'Edit', edit_housing_request_path(@housing_request) %> |
 <%= link_to 'Cancel', @housing_request, method: :delete, data: { confirm: 'Are you sure?' } %> |
 <%= link_to 'Back', menu_student_url %>
<% elsif session[:user] == 'staff' %>
 <%= link_to 'Approve the housing request', new_signed_lease_url(:signed_lease => {:req_no => @housing_request.req_no}), data: {confirm: 'Proceed to create a new lease?'} %> |
 <%= link_to 'Deny the housing request', edit_housing_request_url(@housing_request), data: {confirm: 'Proceed to deny this request?'} %> |
 <%= link_to 'Back', menu_staff_url %>
<% end %>

